<main class="mt-2 mb-2">
  <div class="container px-4">
    <div class="row">
      <form [formGroup]="userAddForm" (ngSubmit)="submit()">
        <div class="col-6">
          <input
            type="text"
            formControlName="name"
            class="form-control"
            placeholder="Név"
          />
          <div
            *ngIf="name?.errors?.['required'] && name?.dirty"
            class="text-danger small mt-2"
          >
            Kötelező mező
          </div>
          <div
            *ngIf="name?.errors?.['customNameInvalid'] && name?.dirty"
            class="text-danger small mt-2"
          >
            A névnek kötelező szóközt tartalmaznia és min 2x3 karktert
            tartalmaznia.
          </div>
        </div>
        <div class="col-6 mt-2">
          <input
            type="text"
            formControlName="address"
            class="form-control"
            placeholder="Cím"
          />
          <div
            *ngIf="address?.invalid && address?.dirty"
            class="text-danger small mt-2"
          >
            Kötelező mező
          </div>
        </div>
        <div class="col-6 mt-2">
          <select formControlName="country" class="form-control">
            <option value="HU">Magyarország</option>
            <option value="UK">Anglia</option>
            <option value="US">USA</option>
          </select>
        </div>
        <div class="col-12">
          <input type="checkbox" formControlName="subscription" />
          Feliratkozás
        </div>
        <button
          class="btn btn-primary mt-2"
          type="submit"
          [disabled]="!userAddForm.valid"
        >
          Registration
        </button>
      </form>
    </div>
  </div>
</main>
